# Global
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pes_pro_x

# API
PORT=4000
JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me_refresh
REDIS_URL=redis://localhost:6379

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

# Payments
STRIPE_SECRET_KEY=sk_test_xxx
PAYPAL_CLIENT_ID=xxx
PAYPAL_CLIENT_SECRET=xxx

# Storage
STORAGE_DRIVER=local
S3_ENDPOINT=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
